@import url('https://fonts.googleapis.com/css?family=Lato');
@media handheld {
 html { overflow: scroll; }
    .footer-about-container {
    margin-top: 20px;
}
}
body {
    display: table;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
.clear {
    clear: both;
}
a {
    font-size: 11px;
}

*:focus {
    outline: none;
}
input {
    appearance:none;
    -webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
}   

body#homepage {
    width: 100%;
}

#homepage-background{
    background: url(../img/teens-bkg.jpg) no-repeat center fixed;
    background-size: cover;
    height: calc(100% + 10px);
    width: calc(100% + 10px);
    position: fixed;
    left: -5px;
    top: -5px;
}

#homepage-background:after {
    content: " ";
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
}

#homepage #container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#homepage header {
    flex-shrink: 0;
    width: 100%;
    position: relative;
    padding-top: 10px;
    padding-left: 4px;
}
#homepage header img {
    height: 100%;
    height: 100px;
}

#homepage #container #presentation {
    max-width: 700px;
    margin-bottom: 30px;
    margin-top: 55px;
}

#homepage #container #presentation h1 {
    color: white;
    font-size: 26px;
    text-align: center;
    font-weight: 400;
    padding: 0 10px;
}

#homepage #container #wrap {
    max-width: 450px;
}


#homepage #container #wrap #social-nav{
    width: 100%;
    height: 50px;

}

#homepage #container #wrap #social-nav ul {
    width: 100%;
    display: flex;
    height: 100%;
    position: relative;
}
.or-method-login {
    display: block;
    width: 80%;
    margin: 0 auto;
    color: #555;
    font-size: 10px;
    text-align: center;
    margin-top: 20px;
    position: relative;
}

.infos-perso {
    display: block;
    width: 80%;
    margin: 0 auto;
    color: #555;
    font-size: 10px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}
.or-method-login:before {
content: "";
position: absolute;
width: calc(50% - 20px);
left: 0;
top: 6px;
height: 1px;
background: #333;
}

.or-method-login:after {
content: "";
position: absolute;
width: calc(50% - 20px);
right: 0;
top: 6px;
height: 1px;
background: #333;
}
.infos-perso:before {
content: "";
position: absolute;
width: calc(50% - 70px);
left: 0;
top: 6px;
height: 1px;
background: #333;
}

.infos-perso:after {
content: "";
position: absolute;
width: calc(50% - 70px);
right: 0;
top: 6px;
height: 1px;
background: #333;
}


#homepage #container #wrap #social-nav ul #active-tab {
    position: absolute;
    height: 2px;
    width: 50%;
    bottom: 0;
    left: 0%;
    transition: 0.5s;
    background: #2ab576;
}

#homepage #container #wrap #social-nav ul li {
    list-style: none;
    color: #2ab576;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    width: 50%;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}




.box {
    width: 100%;
    padding: 30px 0;
    background: rgba(0,0,0,0.8);
    position:relative;
    left: 0;
    transition: left .4s;
}

.box form {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.box form .input-label{
    width: 100%;
    font-size: 0;
    margin-bottom: 20px;
}
.box form .input-label:first-of-type{
    margin-top: 20px;
}
.box form .input-label:last-of-type{
    width: 100%;
    font-size: 0;
    margin-bottom: 20px;
    text-align: right;
    width: 80%;
}


.box form .input-label:last-of-type{
    margin-bottom: 0;
}

.box form .input-label label{
    display: inline-block;
    width: 36%;
    color: #fff;
    text-align: right;
    font-size: 14px;
    height: 40px;
    vertical-align: top;
    line-height: 41px;
    padding-right: 25px;
}


.box form .input-label input{
    background: none;
    display: inline-block;
    border: 2px solid #2ab576;
    height: 40px;
    border-radius: 2px;
    width: 54%;
    padding-left: 15px;
    font-size: 14px;
    color: #fff;
    transition: 0.2s;
}

.box form .input-label select{
    appearance:none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    display: inline-block;
    border: 2px solid #2ab576;
    height: 40px;
    border-radius: 2px;
    width: 20%;
    font-size: 16px;
    color: #fff;
    transition: 0.2s;
    position: relative;
    padding-left: 15px;
}

#result{
    display: none;
    float: right;
    margin-right: 11%;
    width: 54%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
#result ul {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px;
    overflow-y: scroll;
}
#result ul li {
    padding: 10px 0;
    color: #2ab576;
    text-align: center;
    list-style: none;
    font-size: 12px;
    cursor: pointer;
}

.forgot-password {
    width: 80%;
    margin: 0 auto;
    text-align: right;
    padding-top: 8px;
}


.forgot-password a{
    text-decoration: none;
    color: #ddd;
    position: relative;
}

.forgot-password a:before{
    content: "i";
    position: relative;
    display: inline-block;
    font-size: 10px;
    font-style: italic;
    padding: 0px 6px 0px 5px;
    border-radius: 8px;
    border: 1px solid #ddd;
    text-align: center;
    color: #ddd;
    margin-right: 5px;
    top: -1px;
}



.forgot-password a:hover {
    text-decoration: underline;
    color: #fff;
}

.forgot-password a:hover:before {
    color: #fff;
    border: 1px solid #fff;
}
.box form .input-label input[type=submit]{
    appearance:none;
    -webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
    width: 120px;
    font-size: 13px;
    padding-left: 0;
    text-align: center;
    background: #2ab576;
}

.box form .input-label input[type=text]:focus, .box form .input-label input[type=password]:focus{
    border-left: 20px solid #2ab576;
}

#signup-box {
    display: none;
}
#facebook-connect {
    display: inline-block;
    width: 40%;
    height: 40px;
    border-radius: 3px;
    background-color: #3b5998;
    color: white;
    font-size: 13px;
    text-align: left;
    cursor: pointer;
    transition: 0.2s;
    min-width: 180px;
}
#facebook-connect:hover {
    background-color: #2C4372;
}
#facebook-connect:hover img {
    box-shadow: 3px 0px 7px rgba(0,0,0,0.2);
}

#facebook-connect img {
    transition: 0.2s;
    height: 100%;
    padding: 5px 10px 5px 10px;
    border-right: 1px solid #2C4372;
    line-height: 40px;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
}
#facebook-connect span {
    height: 100%;
    display: inline-block;
    line-height: 40px;
    position: relative;
    top: -14px;
    text-align: center;
    width: 75%;
}

footer.footer-about {
    height: 75px;
    position: relative;
    z-index: 3;
    display: table-row;
}   
.footer-about-container {
    height: 40px;
    max-width: 750px;
    margin: 0 auto;
    margin-top: 60px;
}
.nav-footer ul {
    display: flex; 
    justify-content: space-between;
    padding: 0 20px;
}

.nav-footer ul li {
    list-style: none;
}

.nav-footer ul li a {
    color: #fff;
    text-decoration: none;
}

@media(max-width: 470px){
    #homepage header {
        text-align: center;
    }   
    #homepage header img {
        height: 75px;
    }   
    #homepage #container #wrap {
        padding: 0 10px;
    }
    #homepage #container #presentation h1 {
        font-size: 5.5vw;
    }
    #homepage #container #wrap #social-nav ul li{
        font-size: 3.5vw;
    }
    .box form .input-label{
        text-align: center;
    }
    
    .box form .input-label[data-type=select]{
        text-align: left;
    }
    .box form .input-label[data-type=select] label{
        width: 100%;
        padding: 0 10%;
    }
    
    .box form .input-label[data-type=select] select {
        width: 100%;
        margin-left: 10%;
        max-width: 90px;
    }
    .box form .input-label label, .box form .input-label input {
        width: 80%;
        text-align: left;
    }
    .infos-perso {
        margin-top: 20px;
    }
    .or-method-login~.input-label{
        margin-top: 0 !important;
    }
}